@{
    ViewBag.Title = "Calculator";
}

<h2>@ViewBag.Message</h2>
<p>
    Calculator
    @using (Html.BeginForm("Result","Calculator"))
    {
        @Html.TextBox("first") 
        @Html.Label("+") 
        @Html.TextBox("second") 
        @Html.Label("=")
        <input id='add' type='submit' value='Add'/>
    }
</p>
